<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon Suite">
    <test name="RunSingleMethod">
        <classes>
            <class name="com.flipkart.tests.FlipKartHomePageTest">
                <methods>
                    <include name="verifyTitleProductFlipKartHomePage"/>
                    <include name="searchProductFlipKartHomePage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
